.navheader {
    border-bottom: 2px dashed silver;
    margin-bottom: 2rem;

    @media @mobile {
        flex-direction: column;
    }
}

header {
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    justify-content: center;

    @media @mobile {
        flex-direction: column;
        justify-content: space-around;
    }
}

.home {


    .content-section {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 2px dashed silver;




        .text-content {
            width: 48%;
            padding-right: 1%;

            @media @mobile {
                width: 100%;
                flex-direction: column;
                justify-content: space-around;
            }
        }

        .img-content {
            width: 48%;
            padding-left: 1%;

            @media @mobile {
                width: 100%;
                padding: 0;
            }

            img {
                border-radius: 10px;
            }
        }
    }

    .inverse-content {
        padding-bottom: 30px;
        border-bottom: 2px dashed @navigation-border;


        .text-content {
            padding-left: 1%;
            padding-right: 0;
        }

        .img-content {
            padding-right: 1%;
            padding-left: 0;
        }
    }

    .content-destination {
        width: 75%;
        margin: 0 auto 30px;

        img {
            border-radius: 10px;
        }
    }



    .content-pick {
        padding-top: 30px;
        border-top: 2px dashed @navigation-border;
        display: flex;
        justify-content: space-between;
        @media @mobile {
          flex-direction: column;
          width: 100%;
        }

        .btn {
            .btn(center, center, 5px, 5px, teal, black, 4rem);
        }
    }

    .destination {
        width: 30%;
        margin-bottom: 30px;

    }
}


// home