// Mixins in here
.btn (@justify, @align, @radius, @padding, @bgcolor, @color) {
    justify-content: @justfiy;
    align-items: @align;
    border-radius:@radius;
    padding: @padding;
    background-color: @bgcolor;
    color: @color;
}