// Navigation Styles here
    nav {
        width: 45%;
        display: flex;
        align-items: center;
        justify-items: space-around;
        justify-content: flex-end;
        @media @mobile {
            justify-content: space-between;
          } 
        a {
            text-decoration: none;
            margin: 0 auto;
            
        }
    } 